body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em;
    width: 60em;
    line-height: 120%;
}

header {
    margin-left: 2em;
}

nav {
    height: 100%;
    width: 2em;
    padding-left: 1em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1em;
}

main {
    margin-left: 2em;
    padding: 0px 10px;
}

footer {
    border-top: solid 1px #000000;
    padding-bottom: 2px;
    text-align: center;
    background-color: #f8f8f8;
}

img.footer {
    vertical-align: middle;
    height: 2em;
    padding: 0.25em;
}

code {
    font-family: Monaco,Courier New;
    font-size: 80%;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1em;
    margin-bottom: 0.25em;
}
